<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/subsidy/",
  title: "Subsidy Program | PowerArm PAW | CKD株式会社",
  keywords: "PowerArm,助力装置,バランサ,補助金,エイジフレンドりー補助金,働き方改革推進支援助成金,Manufacturing Subsidy",
  description: "パワフルアームの導入のご検討に役立つ３つのSubsidy Programsご紹介します。"}); 
  %>

<body id="subsidy">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Subsidy Programs</h1>
      <p class="common-main-visual__lead">Here are 3 subsidy programs.<br class="sp">Please use this information to help in the consideration of adopting the PowerArm.<br>Please feel free to consult us for other subsidies.</p>

    </section>
    <section class="subsidy">
      <div class="l-inner">
        <div class="subsidy__blk">
          <h2 class="subsidy__blk__title">Age-Friendly System</h2>
          <p class="subsidy__blk__lead">The Age Friendly Subsidy is a system that subsidizes the implementation of safety and health measures, such as improvements to the workplace environment, by small and medium-sized enterprises (SMEs) so that elder workers can work safely and with peace of mind.</p>
          <dl class="subsidy__blk__table">
            <dt class="subsidy__blk__dt">Where to apply</dt>
            <dd class="subsidy__blk__dd">Ministry of Health, Labor and Welfare</dd>
            <dt class="subsidy__blk__dt">Application Deadline</dt>
            <dd class="subsidy__blk__dd">May 11 - October 31, 2022</dd>
            <dt class="subsidy__blk__dt">Subsidy Amount</dt>
            <dd class="subsidy__blk__dd">Max. 1 million yen</dd>
            <dt class="subsidy__blk__dt">Subsidy rate</dt>
            <dd class="subsidy__blk__dd">One-half</dd>
            <dt class="subsidy__blk__dt">Eligibility</dt>
            <dd class="subsidy__blk__dd subsidy__blk__dd--aline-left">
              (1) Employs at least one elderly worker (age 60 or older) on a regular basis<br>
              (2) Small and medium-sized enterprises in the retail, service, wholesale, and other industries (Detailed regulations exist)<br>
              (3) The company is covered by labor insurance.<br>
              <span class="subsidy__blk__dd__note">* In addition, there is a screening process before a decision is made.</span>
            </dd>
          </dl>
          <p class="subsidy__blk__link-lead">Please refer to the applicant's website for details.</p>
          <div class="subsidy__blk__link common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--white common__link-btn-overlap-btn--center" target="_blank" href="https://www.mhlw.go.jp/stf/newpage_09940.html">Ministry of Health, Labor and Welfare　Details of Age-Friendly Subsidy</a>
            <div class="common__link-btn-bg"></div>
          </div>
          <p class="subsidy__blk__link-note">The information provided is for the fiscal year 2022. Please check the above official website for the latest information.</p>
        </div>
  
        <div class="subsidy__blk">
          <h2 class="subsidy__blk__title">Subsidy for Promotion of Work-style Reform</h2>
          <p class="subsidy__blk__lead">Subsidies are available for small and medium-sized businesses that work to improve productivity, reduce overtime work, and create an environment that promotes annual paid leave and special leave.</p>
          <dl class="subsidy__blk__table">
            <dt class="subsidy__blk__dt">Where to apply</dt>
            <dd class="subsidy__blk__dd">Ministry of Health, Labor and Welfare</dd>
            <dt class="subsidy__blk__dt">Application Deadline</dt>
            <dd class="subsidy__blk__dd">May 11 - October 31, 2022</dd>
            <dt class="subsidy__blk__dt">Subsidy Amount</dt>
            <dd class="subsidy__blk__dd">Max. 1.5 million yen</dd>
            <dt class="subsidy__blk__dt">Subsidy rate</dt>
            <dd class="subsidy__blk__dd">Four-fifths (varies with conditions)</dd>
            <dt class="subsidy__blk__dt">Eligibility</dt>
            <dd class="subsidy__blk__dd">Small and medium-sized business owners who meet certain conditions</dd>
          </dl>
          <p class="subsidy__blk__link-lead">Please refer to the applicant's website for details.</p>
          <div class="subsidy__blk__link common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--white common__link-btn-overlap-btn--center" target="_blank" href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000120692.html">Detailed page of the Subsidy for Promotion and Support of Work-style Reform</a>
            <div class="common__link-btn-bg"></div>
          </div>
          <p class="subsidy__blk__link-note">The information provided is for the fiscal year 2022. Please check the above official website for the latest information.</p>
        </div>
  
        <div class="subsidy__blk">
          <h2 class="subsidy__blk__title">Manufacturing Subsidy</h2>
          <p class="subsidy__blk__lead">
            Subsidies for the promotion of manufacturing, commerce, and service productivity support the development of innovative services, prototype development, and production processes undertaken by SMEs and small-scale enterprises, etc., in order to cope with the system changes that SMEs and small-scale enterprises will face in succession over the next several years, such as work-style reforms, the application of employee insurance, wage increases, introduction of invoices, etc.
          </p>
          <dl class="subsidy__blk__table">
            <dt class="subsidy__blk__dt">Where to apply</dt>
            <dd class="subsidy__blk__dd">National Federation of Small Business Associations</dd>
            <dt class="subsidy__blk__dt">Application Deadline</dt>
            <dd class="subsidy__blk__dd">Up to November 30, 2022</dd>
            <dt class="subsidy__blk__dt">Subsidy Amount</dt>
            <dd class="subsidy__blk__dd">Max. 30 million yen</dd>
            <dt class="subsidy__blk__dt">Subsidy rate</dt>
            <dd class="subsidy__blk__dd">Upper limit of 2/3</dd>
            <dt class="subsidy__blk__dt">Eligibility</dt>
            <dd class="subsidy__blk__dd">For small and medium-sized enterprises (SMEs) making capital investment for management innovation, etc.</dd>
          </dl>
          <p class="subsidy__blk__link-lead">Please refer to the applicant's website for details.</p>
          <div class="subsidy__blk__link common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--white common__link-btn-overlap-btn--center" target="_blank" href="https://portal.monodukuri-hojo.jp/about.html">Manufacturing Subsidy Details page</a>
            <div class="common__link-btn-bg"></div>
          </div>
          <p class="subsidy__blk__link-note">The information provided is for the fiscal year 2022. Please check the above official website for the latest information.</p>
        </div>
        <p class="subsidy__blk__bottom-text">Disclaimer: CKD does not accept proxy applications. Customers are asked to submit applications.</p>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>