<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/problem/09/",
  title: "To solve these problems [Assistance process for multi process] |PowerArm PAW | CKD Corporation",
  keywords: "PowerArm, Assistive Device, Balancer, Problem solving, Multiple processes, Work assistance",
  description: "PowerArm helps you with assistance process for multi process!"}); 
  %>

<body id="problem-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">To Solve These Problems</h1>
      <p class="common-main-visual__lead">PowerArm helps you lift heavy items in the following situations!</p>
    </section>

    <section class="problem-detail">
      <div class="l-inner">
        <h2 class="problem-detail__title">
          Assistance process for multi process
        </h2>
        <p class="problem-detail__lead">A workpiece (30 kg) is fed into multiple machine tools for machining on a high-mix, small-lot line.</p>
        <ul class="problem-detail__item-list">
          <li class="problem-detail__item">
            <h3 class="common__line-sub-title problem-detail__item-top-header">Before</h3>
            <div class="problem-detail__item-image"><img src="../../assets/images/problem/09/item_img_01.jpg" alt=""></div>
            <h4 class="problem-detail__item-lead">Experiencing any of the following problems?</h4>
            <p class="problem-detail__item-text"><span class="">・</span>Multi-model small lot line, so various workpieces must be carried.</p>
            <p class="problem-detail__item-text"><span class="">・</span>The workpieces must be carried to multiple processes.</p>
            <p class="problem-detail__item-text"><span class="">・</span>This is heavy-duty work and limited to a select number of people who can handle it.</p>
            <p class="problem-detail__item-text"><span class="">・</span>There is a risk of accidentally dropping the workpiece and causing injury.</p>
          </li>
          <li class="problem-detail__item">
            <h3 class="common__line-sub-title problem-detail__item-top-header">After</h3>
            <div class="problem-detail__item-image"><img src="../../assets/images/problem/09/item_img_02.jpg" alt=""></div>
            <h4 class="problem-detail__item-lead">When the PowerArm is introduced...・・・</h4>
            <p class="problem-detail__item-text"><span class="">・</span>The tray-type attachment enables lifting without being affected by the workpiece.</p>
            <p class="problem-detail__item-text"><span class="">・</span>The dolly type attachment can also be used for heavy-duty work in other processes.</p>
            <p class="problem-detail__item-text"><span class="">・</span>By easing the heavy-duty work, now anyone can handle the work.</p>
            <p class="problem-detail__item-text"><span class="">・</span>The risk of dropping workpieces is reduced by using an assistive device to transport the workpiece.</p>
          </li>
        </ul>

        <h3 class="problem-detail__table-title common__line-sub-title">Specifications</h3>
        <dl class="problem-detail__table">
          <dt class="problem-detail__table-heading">Work weight</dt>
          <dd class="problem-detail__table-description">30kg</dd>
          <dt class="problem-detail__table-heading">Frequency</dt>
          <dd class="problem-detail__table-description">3 cycles/day</dd>
          <dt class="problem-detail__table-heading">Arm</dt>
          <dd class="problem-detail__table-description">エクステンションアーム ＋φ100 ＋φ125</dd>
          <dt class="problem-detail__table-heading">Attachment</dt>
          <dd class="problem-detail__table-description">
            Tray with rollers
          </dd>
          <dt class="problem-detail__table-heading">Additional specifications</dt>
          <dd class="problem-detail__table-description">
            Dolly
            <a class="problem-detail__table-link" href="../../feature/">For features, click here</a>
          </dd>
        </dl>
        <div class="problem-detail__links">
          <div class="problem-detail__link-btn common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn" href="../../assets/pdf/problem/CKD_PAW_Examples_Part9.pdf"download>Documents download (PDF)</a>
            <div class="common__link-btn-bg"></div>
          </div>
          <div class="problem-detail__link-btn problem-detail__link-btn--white common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--white" href="../">Return to List</a>
            <div class="common__link-btn-bg"></div>
        </div>
       </div>
      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
  <script>
      $(".problem__list").on("click", function () {
        var $th = $(this).index();
        $(".problem__list").removeClass("active");
        $(this).addClass("active");
        $(".problem__content").removeClass("show");
        $(".problem__content").eq($th).addClass("show");
      });
  </script>
</body>

</html>