<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/case/",
  title: "Case Study | パワフルアーム PAW | CKD株式会社",
  keywords: "パワフルアーム,助力装置,バランサ,Case Study",
  description: "パワフルアームの導入事例をご紹介します。"}); 
  %>

<body id="case-study">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Case Study</h1>
      <p class="common-main-visual__lead">Our case studies</p>
    </section>
    <section class="case-study">
      <div class="l-inner">
        <ul class="case-study__link-list">
          <li class="case-study__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="./case02/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image">
                  <img src="../assets/images/case_study/link_img_01.jpg" alt="">
                </figure>
                <div class="case-study__link-text-blk">
                  <h3 data-mh="ttl" class="case-study__link-main-text">
                    季節による繁閑がある<br>
                    現場の働き方改革を<br>
                    パワフルアームがアシスト
                  </h3>
                  <p class="case-study__link-lead-sub">因幡電機産業様</p>
                </div>
              </div>
              <div class="case-study__link-btn">Details</div>
            </a>
          </li>
          <li class="case-study__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="./case01/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image">
                  <img src="../assets/images/case_study/link_img_03.jpg" alt="">
                </figure>
                <div class="case-study__link-text-blk">
                  <h3 data-mh="ttl" class="case-study__link-main-text">
                    「エアシーケンス回路」と<br>
                    「二重安全回路」で防爆<br>
                    エリアでの作業をアシスト
                  </h3>
                  <p class="case-study__link-lead-sub">素材メーカー　A社様</p>
                </div>
              </div>
              <div class="case-study__link-btn">Details</div>
            </a>
          </li>
          <li class="case-study__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="./case03/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image">
                  <img src="../assets/images/case_study/link_img_04.jpg" alt="">
                </figure>
                <div class="case-study__link-text-blk">
                  <h3 data-mh="ttl" class="case-study__link-main-text">
                    加工設備の環境改善
                  </h3>
                  <p class="case-study__link-lead-sub">CKD株式会社　小牧工場</p>
                </div>
              </div>
              <div class="case-study__link-btn">Details</div>
            </a>
          </li>
          <li class="case-study__link common__content-link-btn__wrap common__Link-comming-soon bgBlk">
            <a class="common__content-link-btn" href="./case02/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image">
                  <img src="../assets/images/case_study/link_img_02.jpg" alt="">
                </figure>
                <div class="case-study__link-text-blk">
                  <h3 data-mh="ttl" class="case-study__link-main-text">
                  </h3>
                </div>
              </div>
              <div class="case-study__link-btn">Details</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>