<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/faq/",
  title: "FAQ |PowerArm PAW | CKD Corporation",
  keywords: "PowerArm,助力装置,バランサ,FAQ",
  description: "Answers frequently asked questions about PowerArm."}); 
  %>

<body id="faq">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">FAQ</h1>
      <p class="common-main-visual__lead">We will answer your questions.</p>
    </section>
    <section class="faq">
      <div class="l-inner">
        <h2 class="faq__title">Click here to find answers</h2>
        <ul class="faq__list">

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">What is the estimated cost of the PowerArm.</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  It depends on the specifications, and so please contact us using the inquiry form.<br>
                  We will contact you with a rough estimate of the cost after proposing the most suitable specifications for you.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Are there any specifications for the installation location?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  We recommend a flat, dust-free, and waterproof location.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Are there any environmental requirements or preparations necessary for installation?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  We ask that the customer prepare their own air source and electricity.<br>
                  For air sequencing, please prepare only the air source.<br>
                  The power supply can be used with a 100 VAC outlet, but 200 VAC may be required when using a vacuum pump.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is it possible to get a tour or demonstration?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  Yes, it is. Please contact us for details.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">How long is the delivery time?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  Normally, about 2 months.<br>
                  However, it depends on the specifications, so please contact us.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">What is the maximum transfer weight?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  The workpiece weight can be up to about 80 kg, but it depends on the specifications and attachments.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">I do not know how to select the right machine.</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  Please fill in the inquiry form with the workpiece weight, installation location, work contents, etc., and consult with us.<br>
                  We will propose the most suitable specifications for you.
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">Is there any maintenance work needed?</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  We recommend that you follow the instruction manual, but please maintain and control the air quality (element). Greasing (lubrication) is not required. Our company will contact you about maintenance in the third and fifth years after purchase, so please consider it at that time.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
  <script>
        var question = $('.faq__question__box');
        var answer = $('.faq__js-trigger');
          $(answer).hide();
          $(question).click(function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle(300);
          });
  </script>
</body>

</html>