<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/faq/",
  title: "FAQ | PowerArm PAW | CKD株式会社",
  keywords: "PowerArm,助力装置,バランサ,FAQ",
  description: "パワフルアームに関するよくあるご質問にお答えします。"}); 
  %>

<body id="faq">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">FAQ</h1>
      <p class="common-main-visual__lead">ご質問にお答えします。</p>
    </section>
    <section class="faq">
      <div class="l-inner">
        <h2 class="faq__title">クリックで回答を<br class="sp">ご覧いただけます</h2>
        <ul class="faq__list">

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">パワフルアームの概算費用を教えてください。</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  仕様により異なるため、お問合せフォームよりご相談ください。<br>
                  お客様に最適な仕様をご提案の上、概算価格をご連絡いたします。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">設置場所の指定はありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  平らな場所で粉塵が多くなく、水がかからない場所を推奨しております。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">導入のために必要な環境や用意するものはありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  お客様でエア源、電気のご準備をお願いいたします。<br>
                  エアシーケンスの場合はエア源のみご準備をお願いいたします。電源はAC100Vのコンセントがあれば<br>
                  大丈夫ですが、真空ポンプを使う場合などはAC200Vが必要になる場合がございます。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">見学やデモは可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  可能でございます。お問い合わせください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">納期はどれくらいですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  通常は2か月ほどです。<br>
                  ただ、仕様や時期によって変わりますので、お問い合わせください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">最大搬送質量は何㎏ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  ワーク質量が80㎏ほどまで対応しますが、仕様やアタッチメントによって異なりますので、<br class="pc">
                  お問い合わせください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">どのように選定したら良いか分かりません。</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  ワーク質量・設置場所・作業内容等をお問合せフォームへご記入頂きご相談ください。<br>
                  お客様に最適な仕様をご提案させていただきます。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">メンテナンスは何かありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  取扱説明書に準じた対応をお勧めしますが、エア質（エレメント）の管理・メンテナンスをしてください。グリスアップ(給油)は必要ありません。ご購入後、3年目、5年目に弊社よりメンテナンスについてご連絡させていただきますので、その際にご検討ください。
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
  <script>
        var question = $('.faq__question__box');
        var answer = $('.faq__js-trigger');
          $(answer).hide();
          $(question).click(function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle(300);
          });
  </script>
</body>

</html>