<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img12" href="./12/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Working assistance in low ceiling place</h3>
      <span>□Improve working posture</span>
      <span>□Approach from bottom</span>
      <span>□Move by trolley</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>