<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img19" href="./19/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Put assembly material, assistance for dispatching of finished products</h3>
      <span>□Utilization of diversity</span>
      <span>□Safety</span>
      <span>□Improve operation</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>