<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img08" href="./08/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">研削盤への砥石脱着</h3>
      <span>□安全対策</span>
      <span>□腰痛対策</span>
      <span>□台車での移動</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>