<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img02" href="./02/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">包装フィルムロール装填</h3>
      <span>□省人化</span>
      <span>□腰痛対策</span>
      <span>□ダイバーシティ</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>