<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img20" href="./20/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Assistance for part assembly at high place</h3>
      <span>□Labor saving</span>
      <span>□Safety</span>
      <span>□Work efficiency</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>