<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img03" href="./03/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Pack 18L can into corrugated carton</h3>
      <span>□Labor saving</span>
      <span>□Safety</span>
      <span>□Prevent backache</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>