<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img07" href="./07/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Set cylindrical work to a lathe</h3>
      <span>□Safety</span>
      <span>□Prevent backache</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>