<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img12" href="./12/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">天井が低い空間での作業補助</h3>
      <span>□作業姿勢改善</span>
      <span>□下からアクセス</span>
      <span>□台車での移動</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>