<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img21" href="./21/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">コンベアからパレットへの移動</h3>
      <span>□安全対策</span>
      <span>□腰痛対策</span>
      <span>□ダイバーシティ</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>