<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img13" href="./13/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Assistance for upper direction work</h3>
      <span>□Prevent backache</span>
      <span>□Move by trolley</span>
      <span>□Approach from bottom</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>