<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img06" href="./06/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Replace jig to vertical machining center</h3>
      <span>□省人化</span>
      <span>□Prevent backache</span>
      <span>□Side access</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>