<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img05" href="./05/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">自動車部品組付け作業補助</h3>
      <span>□横からアクセス　□省人化</span>
      <span>□コンパクト</span>
      <span>□腰痛対策</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>