<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img16" href="./16/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">丸棒状ワークの搬送</h3>
      <span>□安全対策</span>
      <span>□少人化</span>
      <span>□コンパクト</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>