<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img18" href="./18/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Assembling assistant to machine tool</h3>
      <span>□省人化</span>
      <span>□Work efficiency</span>
      <span>□Improve operation</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>