<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img19" href="./19/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">組立母材の投入・完成品の搬出補助</h3>
      <span>□ダイバーシティ</span>
      <span>□安全対策</span>
      <span>□操作感改善</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>