<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img18" href="./18/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">工作機械の組付け補助</h3>
      <span>□省人化</span>
      <span>□作業効率アップ</span>
      <span>□操作感改善</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">詳しく見る</p>
    </div>
  </a>
</li>