<li data-category="<%= category %>" class="problem__item common__content-link-btn__wrap">
  <a class="common__content-link-btn problem__item-img--img11" href="./11/">
    <div class="problem__item-text-area">
      <h3 class="problem__item-title">Convey die from high shelf</h3>
      <span>□Safety</span>
      <span>□Side access</span>
      <span>□Move by trolley</span>
    </div>
    <div class="problem__item-link-block">
      <p class="problem__item-link-text">Details</p>
    </div>
  </a>
</li>