<footer class="footer">
  <div class="footer-contact">
    <p class="footer-contact__lead">パワフルアームについてのお問い合わせはこちら！</p>
    <div class="footer-contact__links">
       <div class="footer-contact__link-btn common__link-btn-overlap">
         <a class="common__link-btn-overlap-btn" target="_blank" href="https://www.ckd-contact.com/pc/enquete/powerarm/">デモ依頼・お問い合わせ</a>
         <div class="common__link-btn-bg"></div>
         <div class="footer-contact__link-floating-text">ご相談はコチラ！</div>
       </div>
       <div class="footer-contact__link-btn common__link-btn-overlap">
        <a class="common__link-btn-overlap-btn" href="https://www.ckd.co.jp/kiki/jp/product/detail/885/PAW/">カタログ CAD ダウンロード</a>
        <div class="common__link-btn-bg"></div>
        <div class="footer-contact__link-floating-text">製品詳細が気になる方はコチラ！</div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <ul class="footer-bottom__site-link">
      <li><a href="<%= path %>/../../">機器商品トップ</a></li>
      <li><a href="https://www.ckd.co.jp/company/">会社情報</a></li>
      <li><a href="https://www.ckd.co.jp/glblinfo/kiki">販売体制</a></li>
      <li><a href="https://www.ckd.co.jp/privacy/">プライバシーポリシー</a></li>
    </ul>
    <ul class="footer-bottom__sns-link">
      <li><a target="_blank" href="https://www.facebook.com/CKDCorporation.1943/"><img src="<%= path %>/assets/images/footer_sns_01.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCMu6uweQSKgjPHcZNopS6bA"><img src="<%= path %>/assets/images/footer_sns_02.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.instagram.com/ckdcorporation/"><img src="<%= path %>/assets/images/footer_sns_03.svg" alt=""></a></li>
    </ul>
  </div>
  <p class="footer-copy">
    ©CKD Corporation. All Rights Reserved.
  </p>
</footer>