<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/problem/15/",
  title: "To solve these problems  [Conveyance between process at the time of part assembly]| PowerArm PAW | CKD Corporation",
  keywords: "PowerArm, assistive device, balancer, problem solving, part assembly",
  description: "PowerArm helps you convey between process at the time of part assembly."}); 
  %>

<body id="problem-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">To Solve These Problems</h1>
      <p class="common-main-visual__lead">PowerArm helps you lift heavy items in the following situations!</p>
    </section>

    <section class="problem-detail">
      <div class="l-inner">
        <h2 class="problem-detail__title">
          Conveyance between process at the time of part assembly
        </h2>
        <p class="problem-detail__lead">Automobile parts (50 kg) are assembled and transported to multiple processes.<br>Currently, a hoist is used to assist from above.</p>
        <ul class="problem-detail__item-list">
          <li class="problem-detail__item">
            <h3 class="common__line-sub-title problem-detail__item-top-header">Before</h3>
            <div class="problem-detail__item-image"><img src="../../assets/images/problem/15/item_img_01.jpg" alt=""></div>
            <h4 class="problem-detail__item-lead">Experiencing any of the following problems?</h4>
            <p class="problem-detail__item-text"><span class="">・</span>The hoist has high operational resistance and cannot be moved smoothly.</p>
            <p class="problem-detail__item-text"><span class="">・</span>A top-supported hoist may cause head injuries.</p>
            <p class="problem-detail__item-text"><span class="">・</span>Hoists are not suitable for quick up-and-down movements.</p>
          </li>
          <li class="problem-detail__item">
            <h3 class="common__line-sub-title problem-detail__item-top-header">After</h3>
            <div class="problem-detail__item-image"><img src="../../assets/images/problem/15/item_img_02.jpg" alt=""></div>
            <h4 class="problem-detail__item-lead">When the PowerArm is introduced...</h4>
            <p class="problem-detail__item-text"><span class="">・</span>The arm can be moved flexibly to cover a wide range of motion.</p>
            <p class="problem-detail__item-text"><span class="">・</span>Since it is a bottom-up motion, there is no danger of head injuries with a free overhead space.</p>
            <p class="problem-detail__item-text"><span class="">・</span>Quick movement allows for efficient transfer operations.</p>
          </li>
        </ul>

        <h3 class="problem-detail__table-title common__line-sub-title">Specifications</h3>
        <dl class="problem-detail__table">
          <dt class="problem-detail__table-heading">Work weight</dt>
          <dd class="problem-detail__table-description">50kg</dd>
          <dt class="problem-detail__table-heading">Frequency</dt>
          <dd class="problem-detail__table-description">5 times/day</dd>
          <dt class="problem-detail__table-heading">Arm</dt>
          <dd class="problem-detail__table-description">Extension arm + Ø100 + SCARA arm</dd>
          <dt class="problem-detail__table-heading">Attachment</dt>
          <dd class="problem-detail__table-description">
            Hook
            <a class="problem-detail__table-link" href="../../attachment/">For attachments, click here.</a>
          </dd>
        </dl>
        <div class="problem-detail__links">
          <div class="problem-detail__link-btn common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn" href="../../assets/pdf/problem/CKD_PAW_Examples_Part15.pdf"download>Documents download (PDF)</a>
            <div class="common__link-btn-bg"></div>
          </div>
          <div class="problem-detail__link-btn problem-detail__link-btn--white common__link-btn-overlap">
            <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--white" href="../">Return to List</a>
            <div class="common__link-btn-bg"></div>
        </div>
       </div>
      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
  <script>
      $(".problem__list").on("click", function () {
        var $th = $(this).index();
        $(".problem__list").removeClass("active");
        $(this).addClass("active");
        $(".problem__content").removeClass("show");
        $(".problem__content").eq($th).addClass("show");
      });
  </script>
</body>

</html>