<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/product/",
  title: "関連商品 | パワフルアーム PAW | CKD株式会社",
  keywords: "パワフルアーム,助力装置,バランサ,関連商品,バランサ,エアサプライ",
  description: "パワフルアームに関連する商品をご紹介します。"}); 
  %>

<body id="product">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">関連商品</h1>
      <p class="common-main-visual__lead">関連商品をご紹介します。</p>
    </section>
    <section class="product">
      <div class="l-inner">
        <h2 class="product__title">クリックで各商品の詳細を<br class="sp">ご覧いただけます</h2>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="../assets/pdf/product/Technoreport_BBS.pdf"download>
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    極低摺動バランスシリンダBBSシリーズ<br>
                    （XCAS-BBSシリーズ）
                  </h3>
                  <p class="product__link-lead-sub">
                    作業者にストレスを感じさせないバランスシリンダです。<br>
                    自動バランスはありません。<br>
                    バランサ用の低摩擦シリンダ(ブレーキ付き)です。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_01.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_01_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">テクノレポートをダウンロードする</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" data-sp-href="https://www.ckd.co.jp/kiki/jp/sp/product/detail/499/" href="https://www.ckd.co.jp/kiki/jp/product/detail/499/">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    吊り下げ式 バランサユニットBBSシリーズ
                  </h3>
                  <p class="product__link-lead-sub">
                    約300kg の重量物をわずかな力で操作が可能な<br class="pc">
                    バランサユニットです。<br>
                    搬送するワークごとに重量が変化する場合にも、<br class="pc">
                    自動で認識し最適なバランスを保ちます。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_02.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_02_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">詳しく見る</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" data-sp-href="https://www.ckd.co.jp/kiki/jp/sp/product/detail/111/" href="https://www.ckd.co.jp/kiki/jp/product/detail/111/">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    圧縮空気キャリアブルエアサプライユニット<br>
                    ASUシリーズ【日本限定販売】
                  </h3>
                  <p class="product__link-lead-sub">
                    圧縮空気が得られない場所でもAC100V電源のみで、<br class="pc">
                    手軽にきれいなエアを供給できる小型コンプレッサーです。<br>
                    キャリーケースに必要な機器が全て内蔵されているため、<br class="pc">
                    簡単に持ち運びができます。<br>
                    デザイン性に優れ、オフィス・研究ラボ・展示会・<br class="pc">各種イベントなど、あらゆるシーンで活躍します。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_03.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_03_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">詳しく見る</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="../assets/pdf/product/Technoreport_ASU.pdf"download>
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    圧縮空気エアサプライユニットASUシリーズ<br>（中型）
                  </h3>
                  <p class="product__link-lead-sub">
                    いつでも、どこでも手軽に圧縮エアを供給できます。<br>
                    ［用途例］<br>
                    ・装置の付帯、組み込み<br>
                    ・非常用圧力源（BCP対応）<br>
                    ・ロボットへの組み込み
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_04.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_04_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">テクノレポートをダウンロードする</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>