<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/product/",
  title: "Related Products | PowerArm PAW | CKD株式会社",
  keywords: "PowerArm,助力装置,バランサ,Related Products,バランサ,エアサプライ",
  description: "パワフルアームに関連する商品をご紹介します。"}); 
  %>

<body id="product">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Related Products</h1>
      <p class="common-main-visual__lead">Related products are introduced below.</p>
    </section>
    <section class="product">
      <div class="l-inner">
        <h2 class="product__title">Click to view details of each product</h2>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="../assets/pdf/product/Technoreport_BBS.pdf"download>
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    Ultra-low friction balancing cylinder BBS Series<br>
                    (XCAS-BBS Series)
                  </h3>
                  <p class="product__link-lead-sub">
                    This is a balance cylinder that does not cause stress to the operator.<br>
                    There is no automatic balancing.<br>
                    Low friction cylinder (with brake) for balancer.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_01.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_01_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">Download Techno Report</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" data-sp-href="https://www.ckd.co.jp/kiki/jp/sp/product/detail/499/" href="https://www.ckd.co.jp/kiki/jp/product/detail/499/">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    Hanging type balancer unit BBS series
                  </h3>
                  <p class="product__link-lead-sub">
                    The balancer unit allows heavy loads of around 300 kg to be controlled with minimal force.<br>
                    Even if the weight of each workpiece being transported differs, this is automatically recognized and the optimal balance is maintained.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_02.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_02_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" data-sp-href="https://www.ckd.co.jp/kiki/jp/sp/product/detail/111/" href="https://www.ckd.co.jp/kiki/jp/product/detail/111/">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    Compressed air portable air supply unit ASU series 【Japan only release】
                  </h3>
                  <p class="product__link-lead-sub">
                    This compact compressor can easily supply clean air to places where compressed air cannot be obtained using only a 100VAC power supply.<br>
                    All necessary equipment is included in the carrying case - portability at its best.<br>
                    It excels in design and plays an active role in every scene, including offices, research laboratories, exhibitions and various events.
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_03.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_03_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">Details</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="../assets/pdf/product/Technoreport_ASU.pdf"download>
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">
                    (Compressed air) Air supply unit ASU Series (medium-sized)
                  </h3>
                  <p class="product__link-lead-sub">
                    Compressed air can be easily supplied anytime, anywhere.<br>
                    [Applications]<br>
                    ・Attachment and integration of equipment<br>
                    ・Emergency pressure source (BCP compatible)<br>
                    ・Integration into robots
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_04.png" alt="">
                  <img class="sp" src="../assets/images/product/link_img_04_sp.png" alt="">
                </figure>
              </div>
              <div class="product__link-btn">Download Techno Report</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>