<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case03/",
  title: "Case Studies [CKD Corporation]|PowerArm PAW | CKD Corporation",
  keywords: "PowerArm, Assistive Device, Balancer, Case Study, Processing Equipment, Mold Changeover",
  description: "The PowerArm assists you in improving the environment of your processing equipment."}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">Environmental improvement of processing facilities</h1>
      <p class="common-main-visual__lead">CKD Komaki Plant</p>
    </section>
    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/03/main_visual.jpg" alt="">
        </figure>]
        <p class="case-study-detail__main-lead">
          Our factory has equipment that produces product molds in-house. In the past, a 20 kg die was carried on a cart and carried in by two people in a narrow entrance, causing back pain and risk of injury due to falling workpieces.
        </p>

        <h2 class="case-study-detail__section-ttl">Problems</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/03/section_img_01.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Two workers needed to carry a 20 kg mold.</h3>
            <p class="case-study-detail__section-text">
              In the process of manufacturing dies in-house, a 20 kg die must be carried on a cart and brought in by two people through a narrow input port of the processing machine.<br>
              This caused the following problems<br><br>
              ・Since it is a two-person operation, we had to look for an available person when necessary.<br>
              ・The work is difficult to do because it is done in a narrow space.<br>
              ・The workpiece is difficult to hold, so there is a risk of dropping it.<br><br>
              Since this work must be performed during setup changes, we considered improvement measures to reduce the workload.
            </p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/03/section_arrow.svg" alt=""></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">Reasons for Adoption</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/03/section_img_02.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">The only balancer that could lift from the bottom-up direction was the PowerArm</h3>
            <p class="case-study-detail__section-text">
              A balancer is easy to use because positioning is necessary during setup changes, but other products are not applicable because the processing machine has a roof and it is not possible to work with a top-down motion.<br><br>
              We decided to install the PowerArm for the following reasons<br>
              ・Because it assists from the bottom-up direction, it can be used comfortably even in places with roofs<br>
              ・When not in use, it can be folded and placed next to the processing machine, so it does not get in the way.<br>
              ・We decided to introduce it because it is easy with light operability and smooth movement.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">Effects post introduction</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/03/section_img_03.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Enables single-person operation in a safe posture</h3>
            <p class="case-study-detail__section-text">
              By introducing the PowerArm, one person can now transport workpieces in a horizontal motion.<br>
              This allows the operator to work in a safe posture, allowing for any worker to do the task with reduced lower back pain and workload.<br>
              The fact that it can be folded compactly when not in use and does not interfere with work has been highly praised by on-site personnel.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">Overview video</h2>
        <div class="case-study-detail__movie-block">
          <%- include('../../includes/component/_movie.ejs', {poster: "assets/images/case_study/03/movie_thumb.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/jp/paw/PAW_usecase_Komaki_jp.mp4",path: "../../"}); %>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">Return to List</a>
          <div class="common__link-btn-bg"></div>
        </div>

      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>