<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case01/",
  title: "Case Study [Material maker A] |PowerArm PAW | CKD Corporation",
  keywords: "PowerArm, Assistive Device, Balancer, Case Study, Explosion-proof, Heavy object transport, Transfer work",
  description: '"Air Sequence Circuit" and "Double Safety Circuit" Assist Work in Explosion-Proof Areas'}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">"Air Sequence Circuit" and "Double Safety Circuit" Assist Work in Explosion-Proof Areas</h1>
      <p class="common-main-visual__lead">Material maker A</p>
    </section>
    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/01/main_visual.jpg" alt="">
        </figure>
        <p class="case-study-detail__main-lead">
          Here is an example of improvement of pail (25kg) transportation in an explosion-proof area and in a narrow space with a low ceiling at a material manufacturer A Co.
        </p>

        <h2 class="case-study-detail__section-ttl">Problems</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_01.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Transporting heavy objects in explosion-proof areas</h3>
            <p class="case-study-detail__section-text">
              Manually transporting pails (25 kg) in the low-ceiling explosion-proof area.<br>
              The pail handles were so thin that they were hurting the operator's hands when transferring the pail, and the operator was suffering from lower back pain caused by working in an awkward posture.<br>
              However, as the ceiling was low and it was not possible to use assistance devices from the top, common arm-type balancers and electric winding balancers were not available. However, the ceiling was too low to use assistive devices mounted on the ceiling, so a common arm balancer or an electric hoisting balancer could not be used.<br><br>
              We were looking for an assistive device that could be used in explosion-proof areas with low ceilings.
            </p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/01/section_arrow.svg" alt=""></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">Reasons for Adoption</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_02.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Safe and Reliable Equipment for Explosion-Proof Areas</h3>
            <p class="case-study-detail__section-text">
              <!-- ワーク(ペール缶)の重さに合ったバランスに切り替わるので、誤ってスイッチを押してもワークを吊り下げていなければ勝手に上昇することはなく、安全に使用ができます。<br><br>
              →ワークを吊り下げると作動する「リミットスイッチ」と、作業者が押すボタンの2種類で安全性を高めています。ボタンが押されてもワークが吊り下がっていなければ、アームが予期せぬ動きをせず安全にお使いいただけます。 -->
              Safety is enhanced by two types of switches: a limit switch that operates when a workpiece is suspended, and a button pressed by the operator.　If the button is pressed but the workpiece is not suspended, the arm will not move unexpectedly and can be used safely.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">Effects post introduction</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_03.jpg" alt=""></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">Safe and Secure Transfer of Work for Everyone</h3>
            <p class="case-study-detail__section-text">
              The introduction of the assistive device in the explosion-proof area has eliminated the need for manual transfer, and has also eliminated hand-strain during work. <br>
              Lower back pain caused by working in an awkward posture is no longer a problem, and anyone can work on the task, not just certain workers.<br>
              A double safety circuit prevents the arm from moving up without the workpiece, even if the switch is accidentally pressed, allowing the operator to use the product safely and without injury.
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">Overview video</h2>
        <div class="case-study-detail__movie-block">
          <%- include('../../includes/component/_movie.ejs', {poster: "assets/images/case_study/01/movie_thumb.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/jp/paw/PAW_pail_jp.mp4",path: "../../"}); %>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">Return to List</a>
          <div class="common__link-btn-bg"></div>
        </div>

      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>