<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/attachment/detail03/",
  title: "Attachment [for Cardboard Suction]|PowerArm PAW | CKD Corporation",
  keywords: "PowerArm, Assistive Device, Balancer, Attachment, Cardboard, Suction, Transport, Transfer",
  description: "Suitable for transferring corrugated boxes in the shipping and receiving process, etc., making it ideal for transporting goods between the conveyor and pallet."}); 
  %>

<body id="attachment-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <!-- <img src="../assets/images/attachment/link_01_pickup.svg" alt=""> -->
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Attachment Examples</h1>
      <p class="common-main-visual__lead">Here are some examples of attachments</p>
    </section>
    <section class="attachment-detail">
      <div class="l-inner">
        <ul class="attachment-detail__tab-list">
          <li class="attachment-detail__tab">
            <a href="../detail01/">Hoisting hook (general purpose)</a>
          </li>
          <li class="attachment-detail__tab">
            <a href="../detail02/">For suctioning of bags</a>
          </li>
          <li class="attachment-detail__tab">
            <a class="active" href="../detail03/">For the suction-transport of corrugated cardboards</a>
          </li>
          <li class="attachment-detail__tab">
            <a href="../detail04/">For suctioning 18 L cans</a>
          </li>
          <li class="attachment-detail__tab">
            <a href="../detail05/">ロール材内径クランプ用</a>
          </li>
          <li class="attachment-detail__tab">
            <a href="../detail06/">Clamp for food trays</a>
          </li>
        </ul>
        <div class="attachment-detail__container">
          <!-- tab 03 -->
          <section class="attachment-detail__tab-content">
            <h2 class="attachment-detail__top-title">For the suction-transport of corrugated cardboards</h2>
            <div class="attachment-detail__top-block">
              <div class="attachment-detail__top-image">
                <img src="../../assets/images/attachment/detail03/blk_img.jpg" alt="">
              </div>
              <div class="attachment-detail__top-text-blk">
                <p class="attachment-detail__top-text">
                  Suitable for transferring corrugated boxes in the shipping and receiving process, etc., making it ideal for transporting goods between the conveyor and pallet.<br>
                  アタッチメントはオリフィス付の真空吸着式で、いろいろなサイズの段ボールに使用可能です。
                </p>
                <dl class="attachment-detail__top-dl">
                  <dt class="attachment-detail__top-dt">用途</dt>
                  <dd class="attachment-detail__top-dd">
                    Assists in transferring corrugated boxes containing products from conveyors to pallets during the assembly and completion processes of various products.
                  </dd>
                </dl>
                <dl class="attachment-detail__top-dl">
                  <dt class="attachment-detail__top-dt">最大搬送質量(0.58MPa時)</dt>
                  <dd class="attachment-detail__top-dd attachment-detail__top-dd--center">
                    25㎏
                  </dd>
                </dl>
              </div>
            </div>
            <div class="attachment-detail__wrapper">
              <h3 class="attachment-detail__documents-title">Related materials</h3>
              <div class="attachment-detail__documents-link common__link-btn-overlap">
                <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--center" href="../../assets/pdf/テクノレポート_パワフルアームPAWシリーズ_パレタイジング用途別モデル提案_段ボール箱搬送.pdf" download>PowerArm PAW Series　Proposed Model for Palletizing Application 　Transport of Corrugated Cardboard Boxes</a>
                <div class="common__link-btn-bg"></div>
              </div>
              <h3 class="attachment-detail__documents-title">Related video(s)</h3>
              <div class="attachment-detail__movie-block">
                <%- include('../../includes/component/_movie.ejs', {poster: "assets/images/attachment/attachment2.jpg",path: "../../",filePath: "https://ckd.co-site.jp/ad/movie/kiki/jp/paw/1280-720_PAW_attachment2_JP_disclaimer.mp4"}); %>
              </div>
              <div class="attachment-detail__back-btn common__link-btn-overlap">
                <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--center common__link-btn-overlap-btn--white" href="../">Return to List</a>
                <div class="common__link-btn-bg"></div>
              </div>
            </div>
          </section>
          <!-- ./tab 01 -->
        </div>
      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>